root = true

[*]
charset = utf-8
end_of_line = LF
[*.[ch]]
indent_style = tab
indent_size = 4
max_line_length = 80
[README.md]
max_line_length = 80
[CMakeLists.txt]
indent_style = tab
indent_size = 4
max_line_length = 80
[*.sh]
indent_style = tab
indent_size = 2
[*.init]
indent_style = tab
indent_size = 4
[*.conf]
indent_style = tab
indent_size = 4
